.nav {
    font-family: 'Macondo', cursive;
    padding: 2px;
    border: double black;
}

.nav-height {
    height: 60px;
    border: 1px double  rgb(17, 16, 16);
    
}

.brand {
    font-family: 'Macondo', cursive;
     /* font-size: 1.2rem;  */
    font-weight: bolder;
    text-align: center;
    margin-top: 15px;
}
.brandname{
    font-family: 'Macondo', cursive;
    font-size: 1.2rem; 
    margin-top: 10px;
    text-align: center;
}