<!-- 

<div class="nav">
  <div class="mt-5">
    <div class="row g-2">
        <div class="col-5 align-self-start">
            <div class="p-2 ">
                <h1>NIVEDHA</h1>
            </div>
        </div>
        <div class="col-3 align-self-start">
            <div class="p-2 ">
                <h5> Search</h5>
            </div>
        </div>
        <div class="col-2 align-self-start">
            <div class="p-2 ">
<h5>  Home</h5>
            </div>
        </div>
        <div class="col-2 align-self-start">
            <div class="p-2 ">
                <h5> About</h5>
            </div>
        </div>
        </div>
        </div>
    </div> -->

<div class="row nav-height">
    <div class="brandname col-3 ">
        <h1>NIVEDHA</h1>
    </div>
    <div class="brand col-3">
        <h5> Search</h5>
    </div>
    <div class="brand col-3 ">
        <h5> Home</h5>
    </div>
    <div class="brand col-3 ">
        <h5> <button (click)="onSubmit()" >About</button></h5>
    </div>
    <div>
    </div>
</div>