<app-navbar></app-navbar>
<div  class="container"><h1 class="head">Wallpapers</h1></div>

<div  class="d-flex flex-row overflow-hidden flex-wrap justify-content-center">
    <img *ngFor ="let pic of photos; let i = index" class="m-3 hover" (click)="downloadImage(i)" [src]="pic.src.medium" alt="" height="300px" width="300px">    
</div>




<!-- <a [href]="download.url" target="_blank" rel="noopener noreferrer">
    {{ download.filename }}
  </a> -->
  


<!-- <div class="nav text-primary"><h1>Nivedha</h1> 

</div> -->

    <!-- <div class="container mt-5">
    <div class="row g-2">
        <div class="col-4 align-self-start">
            <div class="p-2 body">
                
                <img  [src]="pic.src.medium" alt="" height="100%" width="100%">
            </div></div>
        </div> -->
  
    <!-- <div class="container mt-5">
        <div class="row g-2">
            <div class="col-4 ">
                <div class="p-2 body">
                    check
                    <img *ngFor="let pic of photos" [src]="pic.src.medium" alt="" height="39vh" width="20px">
                </div></div> -->
                <!-- <div class="col-4 ">
                    <div class="p-2 body">
                        check
                    </div></div>
                    <div class="col-4 ">
                        <div class="p-2 body">
                            check
                        </div></div>
                        <div class="col-4 ">
                            <div class="p-2 body">
                                check
                            </div></div>
                            <div class="col-4 ">
                                <div class="p-2 body">
                                    check
                                </div></div>
                                <div class="col-4 ">
                                    <div class="p-2 body">
                                        check
                                    </div></div>
                                    <div class="col-4 ">
                                        <div class="p-2 body">
                                            check
                                        </div></div> -->
                                       
        <!-- </div> -->
<!-- <div class="col-4 ">
    <div class="p-2 body">
        check
        <img *ngFor="let pic of photos" [src]="pic.src.medium" alt="">
    </div></div> -->


<!-- <img src= "https://www.pexels.com/photo/person-holding-black-and-white-frame-2481552/"alt="ndbjghjaghsgdhgh"> -->
<!-- </div> -->

